<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title th:text="${title} != null ? '티에이치 쇼핑몰 | ' + ${title} : '티에이치 쇼팡몰'">
            티에이치 쇼핑몰
        </title>

        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/common.css}" rel="stylesheet">
    </head>
    <body>

        <!-- 메뉴 헤더 영역 -->
        <nav th:replace="fragments/header :: header"></nav>

        <div th:replace="fragments/login :: login"></div>

        <!-- 메인 콘덴츠 -->
        <div layout:fragment="content"></div>

        <!-- 풋터 -->
        <footer th:replace="fragments/footer :: footer"></footer>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    </body>
</html>