<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/default}"
     layout:fragment="content">

  <th:block layout:fragment="custom_css">
    <link rel="stylesheet" th:href="@{/css/board/board.css}" />
  </th:block>

  <div class="main-hero">
    <img src="https://picsum.photos/id/1018/1600/800" alt="">
    <div class="hero-caption">
      <h1 th:text="${pageTitle}"></h1>
      <p>고객의 소리를 자유롭게 남겨주세요.</p>
    </div>
  </div>

  <div class="container my-5">
    <h2 class="section-title mb-4" th:text="${pageSubTitle}"></h2>
  </div>
</div>

<th:block layout:fragment="custom_js">
  <script th:src="@{/js/board/board.js}"></script>
</th:block>