<nav class="navbar navbar-expand-lg navbar-dark" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">티에이치 쇼핑몰</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/intro/company">회사소개</a>
                </li>

                <li class="navi-item">
                    <a class="nav-link" href="/boards/notice/posts">공지사항</a>
                </li>

                <li class="navi-item">
                    <a class="nav-link" href="/boards/free/posts">자유게시판</a>
                </li>

                <li class="navi-item">
                    <a class="nav-link" href="/boards/qna/posts">질의응답</a>
                </li>

                <li class="navi-item">
                    <a class="nav-link" href="#">이벤트신청</a>
                </li>

                <li class="navi-item">
                    <a class="nav-link" href="#">상품몰</a>
                </li>

                <li class="navi-item">
                    <a class="nav-link" href="/intro/map">찾아오는길</a>
                </li>

                <!-- 현재는 메뉴가 적어서 드롭다운까지는 적용안함 -->
                <!-- 소개 -->
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">소개</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">회사소개</a></li>
                        <li><a class="dropdown-item" href="#">연혁</a></li>
                        <li><a class="dropdown-item" href="#">찾아오는길</a></li>
                    </ul>
                </li>
                -->

                <!-- PC용 로그인 아이콘 -->
                <li class="nav-item d-none d-lg-block ms-3">
                    <button class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#loginModal">
                        🔑 로그인
                    </button>
                </li>
            </ul>

            <!-- 모바일에서 로그인 버튼 -->
            <div class="d-lg-none mt-3">
                <button class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#loginModal">
                    🔑 로그인
                </button>
            </div>

        </div>
    </div>
</nav>