<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/default}"
     layout:fragment="content">

    <th:block layout:fragment="custom_css">
        <link rel="stylesheet" th:href="@{/css/youtube.css}" />
    </th:block>

    <!-- 슬라이드 -->
    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-top:56px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://picsum.photos/id/1018/1600/800" alt="">
                <div class="carousel-caption">
                    <h1>티에이치 쇼핑몰</h1>
                    <p>최고의 상품과 서비스를 제공합니다.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/1025/1600/800" alt="">
                <div class="carousel-caption">
                    <h1>고객만족!</h1>
                    <p>고객을 최우선으로 만족합니다.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/1039/1600/800" alt="">
                <div class="carousel-caption">
                    <h1>티에이치 쇼핑몰</h1>
                    <p>다양한 연령대와 다양한 상품을 팔아요.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/1041/1600/800" alt="">
                <div class="carousel-caption">
                    <h1>티에이치 쇼핑몰</h1>
                    <p>빠른배송! 새벽배송 제공해요.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/1043/1600/800" alt="">
                <div class="carousel-caption">
                    <h1>티에이치 쇼핑몰</h1>
                    <p>배송은 무료! 제품은 저렴
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="container my-5">
        <div class="section-title">유튜브영상</div>
        <div class="youtube-wrapper">
            <div class="youtube-left">
                <iframe src="https://www.youtube.com/embed/dJQFRupsPJs" allowfullscreen></iframe>
            </div>
            <div class="youtube-right">
                <div class="youtube-item">
                    <a href="https://www.youtube.com/watch?v=dJQFRupsPJs" target="_blank">
                        <img src="https://img.youtube.com/vi/dJQFRupsPJs/0.jpg" alt="">
                    </a>
                    <div class="youtube-item-title text-ellipsis">이무진(Lee Mujin) - 신호등(Traffic light) (류민희 COVER) +6key</div>
                </div>
                <div class="youtube-item">
                    <a href="https://www.youtube.com/watch?v=dJQFRupsPJs" target="_blank">
                        <img src="https://img.youtube.com/vi/dJQFRupsPJs/0.jpg" alt="">
                    </a>
                    <div class="youtube-item-title text-ellipsis">이무진(Lee Mujin) - 신호등(Traffic light) (류민희 COVER) +6key</div>
                </div>
                <div class="youtube-item">
                    <a href="https://www.youtube.com/watch?v=dJQFRupsPJs" target="_blank">
                        <img src="https://img.youtube.com/vi/dJQFRupsPJs/0.jpg" alt="">
                    </a>
                    <div class="youtube-item-title text-ellipsis">이무진(Lee Mujin) - 신호등(Traffic light) (류민희 COVER) +6key</div>
                </div>
                <div class="youtube-item">
                    <a href="https://www.youtube.com/watch?v=dJQFRupsPJs" target="_blank">
                        <img src="https://img.youtube.com/vi/dJQFRupsPJs/0.jpg" alt="">
                    </a>
                    <div class="youtube-item-title text-ellipsis">이무진(Lee Mujin) - 신호등(Traffic light) (류민희 COVER) +6key</div>
                </div>
                <div class="youtube-item">
                    <a href="https://www.youtube.com/watch?v=dJQFRupsPJs" target="_blank">
                        <img src="https://img.youtube.com/vi/dJQFRupsPJs/0.jpg" alt="">
                    </a>
                    <div class="youtube-item-title text-ellipsis">이무진(Lee Mujin) - 신호등(Traffic light) (류민희 COVER) +6key</div>
                </div>
                <div class="youtube-item">
                    <a href="https://www.youtube.com/watch?v=dJQFRupsPJs" target="_blank">
                        <img src="https://img.youtube.com/vi/dJQFRupsPJs/0.jpg" alt="">
                    </a>
                    <div class="youtube-item-title text-ellipsis">이무진(Lee Mujin) - 신호등(Traffic light) (류민희 COVER) +6key</div>
                </div>
                <div class="youtube-item">
                    <a href="https://www.youtube.com/watch?v=dJQFRupsPJs" target="_blank">
                        <img src="https://img.youtube.com/vi/dJQFRupsPJs/0.jpg" alt="">
                    </a>
                    <div class="youtube-item-title text-ellipsis">이무진(Lee Mujin) - 신호등(Traffic light) (류민희 COVER) +6key</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="section-title">유튜브숏츠</div>
        <div class="shorts-wrapper">
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일1">
                </a>
                <div class="shorts-title">프랑스, 태국, 러시아 다이어트메이트 #365mc</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일2">
                </a>
                <div class="shorts-title">[천호 순쌍람스] 팔뚝살? 내가 다 처리함?</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일3">
                </a>
                <div class="shorts-title">김정은 대표원장님이 달리는 이유? 오렌지케어✨</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일4">
                </a>
                <div class="shorts-title">최고의 성형은 다이어트 | Before & After</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일5">
                </a>
                <div class="shorts-title">인스타에서 난리난 모델 화보</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일6">
                </a>
                <div class="shorts-title">해외 틱톡에서 난리난 이효리 텐미닛 -10 Minutes</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일6">
                </a>
                <div class="shorts-title">해외 틱톡에서 난리난 이효리 텐미닛 -10 Minutes</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일6">
                </a>
                <div class="shorts-title">해외 틱톡에서 난리난 이효리 텐미닛 -10 Minutes</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일6">
                </a>
                <div class="shorts-title">해외 틱톡에서 난리난 이효리 텐미닛 -10 Minutes</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일6">
                </a>
                <div class="shorts-title">해외 틱톡에서 난리난 이효리 텐미닛 -10 Minutes</div>
            </div>
            <div class="shorts-card">
                <a href="https://www.youtube.com/shorts/rj755TPAybM" target="_blank">
                    <img src="https://img.youtube.com/vi/rj755TPAybM/0.jpg" alt="썸네일6">
                </a>
                <div class="shorts-title">해외 틱톡에서 난리난 이효리 텐미닛 -10 Minutes</div>
            </div>
        </div>
    </div>
</div>